*{box-sizing: border-box;}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
.spacer {

    height: 85%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-top: 1px solid black;
    width: inherit;
    height: 15%;

}

.footer-wrapper {
    width: 75%;
}

footer ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    font-size: rem;
    color:black
}

.social-media {

    margin-left: 1em;
    border-radius: 20%;

}